extends layouts/default

block content
  style.
    .ui.card img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment#graph-as-background
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            a.item.active(href="/") Fabric
            a.item(href="/#contact") Contact
            //-a.item Maki
            //-.right.item
              a.ui.inverted.button Log in
              a.ui.inverted.button Sign Up
        .ui.text.container
          include partials/flash

          h1.ui.inverted.header
            | The Serverless Web.
          h2
            | Fabric, the simple protocol for distributed applications.

          form.ui.huge.form(action="/subscriptions", method="post")
            .inline.fields
              .eleven.wide.field.required
                input(type="email", name="email", placeholder="you@youremail.com", required)
              .field
                button.ui.submit.huge.button.primary.tooltipped(title="We promise – no spam, ever.  We'll send you an email with a link to confirm your subscription.")
                  i.newspaper.icon
                  | Subscribe &raquo;

    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.centered.grid.container
        .row
          .twelve.wide.column
            h3.ui.header The Team
            
            .ui.three.doubling.cards
              .ui.card
                .image
                  img(src="/img/eric.jpg")
                .content
                  h4.ui.header Eric Martindale
                  .meta
                    a(href="https://twitter.com/martindale")
                      i.icon.twitter
                    a(href="https://github.com/martindale")
                      i.icon.github
                  .description Founder, formerly <a href="https://twitter.com/bitpay">@BitPay</a>.
              .ui.card
                .image
                  img(src="/img/yani.jpg")
                .content
                  h4.ui.header Yanislav Malahov
                  .meta
                    a(href="https://twitter.com/noyyy")
                      i.icon.twitter
                    a(href="https://github.com/foundationawesome")
                      i.icon.github
                  .description Founder, formerly <a href="https://ethereum.org">@Ethereum</a>.
              .ui.card
                .image
                  img(src="/img/daniel.jpg")
                .content
                  h4.ui.header Daniel Barbour
                  .meta
                    a(href="https://twitter.com/vorathe")
                      i.icon.twitter
                    a(href="https://github.com/vorathe")
                      i.icon.github
                  .description Founder, Design Lead @ Agency.

    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.centered.grid.container
        .row
          .eight.wide.column
            h3.ui.header Built on Bitcoin
            p Fabric is an extension to the Bitcoin network, allowing applications to be secured by the strongest network.
            h3.ui.header Secure and Fair
            p Nodes on the Fabric network are rewarded for their efforts, proportional to their contributions, using self-enforcing contracts.
          .four.wide.column.right.aligned
            //-img.ui.large.bordered.rounded.image(src="/img/white-image.png")
            img.ui.medium.centered.image(src="/img/bitcoin-logo.png")

    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.centered.grid.container
        .row
          .eight.wide.column.middle.aligned
            i.massive.icons
              i.icon.large.database
              i.icon.corner.red.lock
          .eight.wide.column
            h3.ui.header Both Ephemeral &amp; Permanent Persistence
            p Applications can choose to store data in ephemeral fashion <em>or</em> permanently, using Fabric's data persistence abstractions.
            h3.ui.header Both Public &amp; Private Ledgers
            p Fabric also offers a fully homomorphic encryption mechanism, allowing for data to be operated on safely and securely.

    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .row
          //-.eight.wide.centered.column
            h3.ui.header#subscribe Get Notified
            p Subscribe to our list to receive updates as they're released.
              include forms/subscribe
          .eight.wide.centered.column
            h3.ui.header#contact Contact Us
            p If you think you can help, please get in touch.
              include forms/contact
              
    .ui.inverted.vertical.footer.segment
      .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
          .three.wide.column
            h4.ui.inverted.header About
            .ui.inverted.link.list
              //-a.item(href="/protocol") Protocol
              //-a.item(href="/fabric.pdf") Whitepaper
              //-a.item(href="/roadmap") Roadmap
              a.item(href="/#contact") Contact Us
          .three.wide.column
            h4.ui.inverted.header Elsewhere
            p Other links coming soon.
            //-.ui.inverted.link.list
              a.item(href="#", rel="me")
                i.icon.github
                |  GitHub
              a.item(href="#", rel="me")
                i.icon.twitter
                |  Twitter
              a.item(href="#", rel="me")
                i.icon.facebook
                |  Facebook
              a.item(href="#", rel="me")
                i.icon.medium
                |  Medium
          .seven.wide.column
            h4.ui.inverted.header Copyleft
            p We don't particularly care for intellectual property, and in fact believe that if you are inspired by what we're working on – by all means, go forth and build.
